body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: $white;
}
.container {
    padding: 30px 20px;
    text-align: center;
}
// Heading Styles (H1, H2, H3 etc)
h1 {
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 0;
}
.heading-primary {
    color: $heading-primary;
}
.heading-secondary {
    color: $heading-secondary;
}
.text-primary {
    color: $text-primary;
}