// Heading Styles (H1, H2, H3 etc)
h1 {
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    font-size: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
h4 {
    padding: 20px 0;
}
.heading-primary {
    color: $heading-primary;
}
.heading-secondary {
    color: $heading-secondary;
}

// Paragraph styles
.text-primary {
    color: $text-primary;
}