// Color Variables
$white: #FFF;
$black: #000;
$gold: #E4BB7A;

// Colors for H2 and Paragraphs
$heading-primary: #FFF;
$heading-secondary: #A5A5A5;
$text-primary: #585858;

// Media Queries
// $bp-large: 68.75em; // 1100px
// $bp-medium: 56.25em; // 980px
$bp-small: 31.25em; // 500px