// Color Variables
$white: #FFF;
$black: #000;
$gold: #E4BB7A;

// Colors for H2 and Paragraphs
$heading-primary: #FFF;
$heading-secondary: #A5A5A5;
$text-primary: #585858;

// Media Queries
$bp-xxl: 1377px;
$bp-xl: 1036px;
$bp-large: 957px;
$bp-medlg: 768px;
$bp-medium: 636px;
$bp-medium-sm: 530px;
$bp-small: 414px;
$bp-xsmall: 375px;