// Color Variables
$white: #FFF;
$secondary-white: #F4F4F4;
$black: #000;
$gold: #E4BB7A;

// Colors for H2
$heading-primary: #FFF;
$heading-secondary: #A5A5A5;

// Colors for p tags
$text-primary: rgb(88, 88, 88);
$text-secondary: #FFF;

// Media Queries
// $bp-large: 68.75em; // 1100px
// $bp-medium: 56.25em; // 980px
$bp-small: 31.25em; // 500px