* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  height: 100%;
  color: #FFF;
}

.container {
  padding: 6rem 0;
  text-align: center;
}

@media only screen and (max-width: 31.25em) {
  .container {
    padding: 3rem 0 0 0;
  }
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

h4 {
  padding: 2rem 0;
}

.heading-primary {
  color: #FFF;
}

.heading-secondary {
  color: #A5A5A5;
}

.text-primary {
  color: #585858;
}

.headerbg {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/headerbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 31.25em) {
  .headerbg {
    background-image: url("../assets/images/headerbgsm.jpg");
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

.main-content p {
  font-size: 1.5rem;
}

.button-container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}

.button-container:hover {
  opacity: .7;
}

.button-container.active .top {
  transform: translateY(1.1rem) translateX(0) rotate(45deg);
  background: #E4BB7A;
}

.button-container.active .middle {
  opacity: 0;
  background: #E4BB7A;
}

.button-container.active .bottom {
  transform: translateY(-1.1rem) translateX(0) rotate(-45deg);
  background: #E4BB7A;
}

.button-container span {
  background: #E4BB7A;
  border: none;
  height: .5rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.button-container span:nth-of-type(2) {
  top: 1.1rem;
}

.button-container span:nth-of-type(3) {
  top: 2.2rem;
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 2;
}

.overlay.open {
  opacity: 10;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}

.overlay nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.overlay ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  padding: 3rem 0;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: .3rem;
  background: #E4BB7A;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.about {
  text-align: center;
}

.about-columns {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.about-column {
  margin: 2rem 2rem;
}

.about-column p {
  font-size: 16px;
  max-width: 450px;
  text-align: justify;
  color: #585858;
}

.about-column p:nth-child(n+2) {
  padding: 2rem 0;
}

.reservation {
  display: flex;
}

.contact-form {
  padding: 5rem;
}

.contact-form label {
  padding-top: 2rem;
}

.reservation .map, .reservation .contact-form {
  flex: 1;
}

.reservation .contact-form .form-group {
  margin: 0.75rem;
}

.reservation .contact-form label {
  display: block;
}

.reservation .contact-form input,
.reservation .contact-form textarea {
  width: 100%;
  padding: .5rem;
}

@media only screen and (max-width: 31.25em) {
  .reservation {
    flex-direction: column;
  }
  .reservation .map {
    height: 25rem;
  }
}

.team {
  background-image: url("../assets/images/staffbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: .2s ease-in;
}

@media only screen and (max-width: 31.25em) {
  .team img {
    height: 20rem;
  }
}

.team-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.team-column {
  flex: 1;
  margin: 2rem 5rem;
}

.team-column p {
  min-width: 20rem;
  text-align: center;
}

.gallery {
  background-image: url("../assets/images/staffbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery img {
  max-width: 100%;
}

.gallery img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* CSS Grid*/
.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: .5rem;
}

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: #000;
  grid-column: full-start / full-end;
  padding: 5rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
}

.nav__link:link, .nav__link:visited {
  font-size: 1.4rem;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all .2s;
}

.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-0.3rem);
}

.copyright {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fade-in 1.4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

.bounce {
  animation: bounce 1s infinite;
  position: relative;
}

@keyframes bounce {
  0% {
    top: -.2rem;
  }
  50% {
    top: .2rem;
  }
  100% {
    top: -.2rem;
  }
}

.btn {
  width: 17.2rem;
  height: 5rem;
  background-color: #E4BB7A;
  line-height: 5rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn-submit {
  flex: 0 1 40%;
  margin-top: 1rem;
  color: #000;
  background: #E4BB7A;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  .btn-submit {
    flex: 0 1 100%;
  }
}

.arrow {
  display: inline-block;
  margin: 5rem 0;
  width: 7rem;
  height: 1rem;
  background: url("../assets/images/header-arrow.png");
}

@media only screen and (max-width: 31.25em) {
  .arrow {
    margin: 3rem 0;
  }
}

/*# sourceMappingURL=style.css.map */