@import url(../../node_modules/normalize.css/normalize.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  color: #FFF;
}

.container {
  padding: 30px 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 0;
}

.heading-primary {
  color: #FFF;
}

.heading-secondary {
  color: #A5A5A5;
}

.text-primary {
  color: #585858;
}

.button-container {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}

.button-container:hover {
  opacity: .7;
}

.button-container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #E4BB7A;
}

.button-container.active .middle {
  opacity: 0;
  background: #E4BB7A;
}

.button-container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #E4BB7A;
}

.button-container span {
  background: #E4BB7A;
  border: none;
  height: 5.5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.button-container span:nth-of-type(2) {
  top: 11px;
}

.button-container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 2;
}

.overlay.open {
  opacity: 10;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}

.overlay nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.overlay ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  padding: 30px 0;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: .3rem;
  background: #E4BB7A;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.btn {
  padding: 15px 35px;
  border: none;
  background-color: #E4BB7A;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-header {
  margin-top: 20px;
}

.btn-submit {
  margin-top: 1rem;
  flex: 0 1 40%;
  background: #E4BB7A;
  transition: 0.3s;
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fade-in 1.4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

.bounce {
  animation: bounce 1s infinite;
  position: relative;
}

@keyframes bounce {
  0% {
    top: -2px;
  }
  50% {
    top: 2px;
  }
  100% {
    top: -2px;
  }
}

.headerbg {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/headerbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 375px) {
  .headerbg {
    background-image: url("../assets/images/headerbgsm.jpg");
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.main-content p {
  font-size: 16px;
}

.arrow {
  display: inline-block;
  margin: 30px 0;
  width: 70px;
  height: 10px;
  background: url("../assets/images/header-arrow.png");
}

.about {
  text-align: center;
}

.about p {
  font-size: 16px;
  line-height: 25px;
}

.about-columns {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.about-column p {
  text-align: justify;
  color: #585858;
  padding: 10px 10px;
}

@media only screen and (min-width: 414px) {
  .about-column p {
    max-width: 400px;
  }
}

@media only screen and (min-width: 636px) {
  .about-column p {
    max-width: 550px;
  }
}

@media only screen and (min-width: 1036px) {
  .about-column p {
    max-width: 300px;
    padding: 0 10px;
  }
}

.about-img {
  height: 200px;
  width: 120px;
  padding: 0 10px;
}

@media only screen and (min-width: 375px) {
  .about-img {
    height: 250px;
    width: 145px;
    padding: 10px 5px;
  }
}

@media only screen and (min-width: 414px) {
  .about-img {
    width: 155px;
  }
}

@media only screen and (min-width: 530px) {
  .about-img {
    height: auto;
    width: 200px;
    margin: 0;
  }
}

@media only screen and (min-width: 636px) {
  .about-img {
    height: auto;
    width: auto;
    margin: 0;
  }
}

@media only screen and (min-width: 1036px) {
  .about-img {
    max-width: 300px;
    padding: 0 10px;
  }
}

.signature {
  width: auto;
  height: 50px;
}

.reservation {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 636px) {
  .reservation {
    flex-direction: row;
  }
}

.reservation p {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  margin: 20px;
}

.contact-form label {
  padding: 15px 0 10px 0;
}

.reservation .map, .reservation .contact-form {
  flex: 1;
}

.reservation .map {
  height: 200px;
}

@media only screen and (min-width: 636px) {
  .reservation .map {
    height: auto;
  }
}

.reservation .contact-form label {
  display: block;
}

.reservation .contact-form input,
.reservation .contact-form textarea {
  width: 100%;
  padding: 5px 0;
}

.team {
  background-image: url("../assets/images/staffbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team-img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 50%;
  transition: .2s ease-in;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.team-img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.team-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.team-column {
  flex: 1;
  margin: 20px 100px;
}

@media only screen and (min-width: 530px) {
  .team-column {
    margin: 20px 30px;
  }
}

.gallery {
  background-image: url("../assets/images/staffbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery img {
  max-width: 100%;
}

.gallery img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

@media only screen and (min-width: 530px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 957px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: #000;
  grid-column: full-start / full-end;
  padding: 50px;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
}

.nav__link:link, .nav__link:visited {
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 15px;
  display: block;
  transition: all .2s;
}

.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-0.3rem);
}

.copyright {
  font-size: 14px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */