// All Button Core Styles
.btn {
    padding: 15px 35px;
    border: none;
    background-color: $gold;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

// Header Button
.btn-header {
    margin-top: 20px;
}

// Reservation Form Button
.btn-submit {
    margin-top: 1rem;
    flex: 0 1 40%;
    background: $gold;
    transition: 0.3s;
}