// Gold Arrow
.arrow {
    display: inline-block;
    margin: 5rem 0;
	width: 7rem;
	height: 1rem;
    background: url("../assets/images/header-arrow.png");

    @media only screen and (max-width: $bp-small) {
        margin: 3rem 0;
    } 
}