.about {
    text-align: center;

    p {
        font-size: 16px;
        line-height: 25px;
    }
}
.about-columns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

.about-column p {
    text-align: justify;
    color: $text-primary;
    padding: 15px 10px;
}

.about-img {
    height: 200px;
    width: 120px;
    padding: 0 10px;
}

.signature {
    width: auto;
    height: 50px;
}