.about {
    text-align: center;

    p {
        font-size: 16px;
        line-height: 25px;
    }
}
.about-columns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

.about-column p {
    text-align: justify;
    color: $text-primary;
    padding: 10px 10px;

    @media only screen and (min-width: $bp-small) {
        max-width: 400px;
    }

    @media only screen and (min-width: $bp-medium) {
        max-width: 550px;
    }
    @media only screen and (min-width: $bp-large) {
        max-width: 300px;
        padding: 0 10px;
    }
}

.about-img {
    height: 200px;
    width: 120px;
    padding: 0 10px;

    @media only screen and (min-width: $bp-xsmall) {
        height: 250px;
        width: 145px;
        padding: 10px 5px;
    }

    @media only screen and (min-width: $bp-small) {
        width: 155px;
    }

    @media only screen and (min-width: $bp-medium-sm) {
        height: auto;
        width: 200px;
        margin: 0;
    }

    @media only screen and (min-width: $bp-medium) {
        height: auto;
        width: auto;
        margin: 0;
    }
    @media only screen and (min-width: $bp-large) {
        max-width: 300px;
        padding: 0 10px;
    }

}

.signature {
    width: auto;
    height: 50px;
}