.gallery {
    background-image: url("/src/assets/images/staffbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gallery img {
    max-width: 100%;
  }
.gallery img:hover {
    opacity: 0.5;
    cursor: pointer;
}
/* CSS Grid*/
  .img-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}
  
/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
    .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
    .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
  