.gallery {
    background-image: url("../assets/images/staffbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery img {
    max-width: 100%;
  }
.gallery img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;

  @media only screen and (min-width: $bp-medium-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $bp-med-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}