.button-container {
	position: fixed;
	top: 5%;
	right: 5%;
	height: 50px;
	width: 50px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;
	&:hover {
		opacity: .7;
   }
	&.active {
		.top {
			transform: translateY(11px) translateX(0) rotate(45deg);
			background: $gold;
	   }
		.middle {
			opacity: 0;
			background: $gold;
	   }
		.bottom {
			transform: translateY(-11px) translateX(0) rotate(-45deg);
			background: $gold;
	   }
   }
	span {
		background: $gold;
		border: none;
		height: 5.5px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .35s ease;
		cursor: pointer;
		&:nth-of-type(2) {
			top: 11px;
	   }
		&:nth-of-type(3) {
			top: 22px;
	   }
   }
}
.overlay {
	position: fixed;
	background: $black;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
	z-index: 2;
	&.open {
		opacity: 10;
		visibility: visible;
		height: 100%;
		li {
			animation: fadeInRight .5s ease forwards;
			animation-delay: .35s;
			&:nth-of-type(2) {
				animation-delay: .4s;
		   }
			&:nth-of-type(3) {
				animation-delay: .45s;
		   }
			&:nth-of-type(4) {
				animation-delay: .50s;
		   }
	   }
   }
	nav {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
   }
	ul {
		list-style: none;
		margin: 0 auto;
		display: inline-block;
		position: relative;
		height: 100%;
		li {
			display: block;
			padding: 30px 0;
			position: relative;
			opacity: 0;
			a {
				display: block;
				position: relative;
				color: $white;
				text-decoration: none;
				overflow: hidden;
				&:hover:after, &:focus:after, &:active:after {
					width: 100%;
			   }
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 0%;
					transform: translateX(-50%);
					height: .3rem;
					background: $gold;
					transition: .35s;
			   }
		   }
	   }
   }
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
   }
	100% {
		opacity: 1;
		left: 0;
   }
}