// Reservation
.reservation {
    display: flex;
}

.contact-form {
    padding: 5rem;
}

.reservation .map, .reservation .contact-form {
    flex: 1;
}

.reservation .contact-form .form-group {
    margin: 0.75rem;
}

.reservation .contact-form label {
    display: block;
}

.reservation .contact-form input,
.reservation .contact-form textarea {
    width: 100%;
    padding: .5rem;
}

@media only screen and (max-width: $bp-small) {
    .reservation {
        flex-direction: column;
      }
    
      .reservation .map {
        height: 25rem;
      }
}