.team {
    background-image: url("../assets/images/staffbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-img {
    width: auto;
    vertical-align: middle;
    border-radius: 50%;
    transition: .2s ease-in;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.team-img:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.team-columns {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
}
.team-column {
    flex: 1;
    margin: 20px 90px;

    @media only screen and (min-width: $bp-med-lg) {
    margin: 20px 0px;
    }
}