.team {
    background-image: url("../assets/images/staffbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    transition: .2s ease-in;

    @media only screen and (max-width: $bp-medium) {
        height: 15rem;
    }
}
.team-columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;  
}
.team-column {
    flex: 1;
}
.team-column p {
    text-align: center;
}